@media screen and (orientation: landscape) {
  .show-for-landscape,.hide-for-portrait {
    display: block !important;
  }

  .hide-for-landscape,.show-for-portrait {
    display: none !important;
  }
  .show-for-landscape,.hide-for-portrait {
    display: none !important;
  }

  .hide-for-landscape,.show-for-portrait {
    display: block !important;
  }
  .show-for-small-only {
    display: none !important;
  }
  .show-for-small-wide-only {
    display: none !important;
  }
  .hide-for-small-wide-only {
    display: none !important;
  }
  .small-wide-text-left {
    text-align: left;
  }

  .small-wide-text-right {
    text-align: right;
  }

  .small-wide-text-center {
    text-align: center;
  }

  .small-wide-text-justify {
    text-align: justify;
  }

  .grid-x > .small-wide-shrink,.grid-x > .small-wide-full,.grid-x > .small-wide-1,.grid-x > .small-wide-2,.grid-x > .small-wide-3,.grid-x > .small-wide-4,.grid-x > .small-wide-5,.grid-x > .small-wide-6,.grid-x > .small-wide-7,.grid-x > .small-wide-8,.grid-x > .small-wide-9,.grid-x > .small-wide-10,.grid-x > .small-wide-11,.grid-x > .small-wide-12 {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }

  .grid-x > .small-wide-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    width: auto;
  }

  .grid-x > .small-wide-shrink,.grid-x > .small-wide-1,.grid-x > .small-wide-2,.grid-x > .small-wide-3,.grid-x > .small-wide-4,.grid-x > .small-wide-5,.grid-x > .small-wide-6,.grid-x > .small-wide-7,.grid-x > .small-wide-8,.grid-x > .small-wide-9,.grid-x > .small-wide-10,.grid-x > .small-wide-11,.grid-x > .small-wide-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .grid-x > .small-wide-shrink {
    width: auto;
  }

  .grid-x > .small-wide-1 {
    width: 8.33333%;
  }

  .grid-x > .small-wide-2 {
    width: 16.66667%;
  }

  .grid-x > .small-wide-3 {
    width: 25%;
  }

  .grid-x > .small-wide-4 {
    width: 33.33333%;
  }

  .grid-x > .small-wide-5 {
    width: 41.66667%;
  }

  .grid-x > .small-wide-6 {
    width: 50%;
  }

  .grid-x > .small-wide-7 {
    width: 58.33333%;
  }

  .grid-x > .small-wide-8 {
    width: 66.66667%;
  }

  .grid-x > .small-wide-9 {
    width: 75%;
  }

  .grid-x > .small-wide-10 {
    width: 83.33333%;
  }

  .grid-x > .small-wide-11 {
    width: 91.66667%;
  }

  .grid-x > .small-wide-12 {
    width: 100%;
  }

  .grid-margin-x > .small-wide-auto {
    width: auto;
  }

  .grid-margin-x > .small-wide-shrink {
    width: auto;
  }

  .grid-margin-x > .small-wide-1 {
    width: calc(8.33333% - 1.25rem);
  }

  .grid-margin-x > .small-wide-2 {
    width: calc(16.66667% - 1.25rem);
  }

  .grid-margin-x > .small-wide-3 {
    width: calc(25% - 1.25rem);
  }

  .grid-margin-x > .small-wide-4 {
    width: calc(33.33333% - 1.25rem);
  }

  .grid-margin-x > .small-wide-5 {
    width: calc(41.66667% - 1.25rem);
  }

  .grid-margin-x > .small-wide-6 {
    width: calc(50% - 1.25rem);
  }

  .grid-margin-x > .small-wide-7 {
    width: calc(58.33333% - 1.25rem);
  }

  .grid-margin-x > .small-wide-8 {
    width: calc(66.66667% - 1.25rem);
  }

  .grid-margin-x > .small-wide-9 {
    width: calc(75% - 1.25rem);
  }

  .grid-margin-x > .small-wide-10 {
    width: calc(83.33333% - 1.25rem);
  }

  .grid-margin-x > .small-wide-11 {
    width: calc(91.66667% - 1.25rem);
  }

  .grid-margin-x > .small-wide-12 {
    width: calc(100% - 1.25rem);
  }

  .small-wide-up-1 > .cell {
    width: 100%;
  }

  .small-wide-up-2 > .cell {
    width: 50%;
  }

  .small-wide-up-3 > .cell {
    width: 33.33333%;
  }

  .small-wide-up-4 > .cell {
    width: 25%;
  }

  .small-wide-up-5 > .cell {
    width: 20%;
  }

  .small-wide-up-6 > .cell {
    width: 16.66667%;
  }

  .small-wide-up-7 > .cell {
    width: 14.28571%;
  }

  .small-wide-up-8 > .cell {
    width: 12.5%;
  }

  .grid-margin-x.small-wide-up-1 > .cell {
    width: calc(100% - 1.25rem);
  }

  .grid-margin-x.small-wide-up-2 > .cell {
    width: calc(50% - 1.25rem);
  }

  .grid-margin-x.small-wide-up-3 > .cell {
    width: calc(33.33333% - 1.25rem);
  }

  .grid-margin-x.small-wide-up-4 > .cell {
    width: calc(25% - 1.25rem);
  }

  .grid-margin-x.small-wide-up-5 > .cell {
    width: calc(20% - 1.25rem);
  }

  .grid-margin-x.small-wide-up-6 > .cell {
    width: calc(16.66667% - 1.25rem);
  }

  .grid-margin-x.small-wide-up-7 > .cell {
    width: calc(14.28571% - 1.25rem);
  }

  .grid-margin-x.small-wide-up-8 > .cell {
    width: calc(12.5% - 1.25rem);
  }

  .small-margin-collapse > .small-wide-1 {
    width: 8.33333%;
  }

  .small-margin-collapse > .small-wide-2 {
    width: 16.66667%;
  }

  .small-margin-collapse > .small-wide-3 {
    width: 25%;
  }

  .small-margin-collapse > .small-wide-4 {
    width: 33.33333%;
  }

  .small-margin-collapse > .small-wide-5 {
    width: 41.66667%;
  }

  .small-margin-collapse > .small-wide-6 {
    width: 50%;
  }

  .small-margin-collapse > .small-wide-7 {
    width: 58.33333%;
  }

  .small-margin-collapse > .small-wide-8 {
    width: 66.66667%;
  }

  .small-margin-collapse > .small-wide-9 {
    width: 75%;
  }

  .small-margin-collapse > .small-wide-10 {
    width: 83.33333%;
  }

  .small-margin-collapse > .small-wide-11 {
    width: 91.66667%;
  }

  .small-margin-collapse > .small-wide-12 {
    width: 100%;
  }

  .small-wide-margin-collapse {
    margin-right: 0;
    margin-left: 0;
  }

  .small-wide-margin-collapse > .cell {
    margin-right: 0;
    margin-left: 0;
  }

  .small-wide-margin-collapse > .small-1 {
    width: 8.33333%;
  }

  .small-wide-margin-collapse > .small-2 {
    width: 16.66667%;
  }

  .small-wide-margin-collapse > .small-3 {
    width: 25%;
  }

  .small-wide-margin-collapse > .small-4 {
    width: 33.33333%;
  }

  .small-wide-margin-collapse > .small-5 {
    width: 41.66667%;
  }

  .small-wide-margin-collapse > .small-6 {
    width: 50%;
  }

  .small-wide-margin-collapse > .small-7 {
    width: 58.33333%;
  }

  .small-wide-margin-collapse > .small-8 {
    width: 66.66667%;
  }

  .small-wide-margin-collapse > .small-9 {
    width: 75%;
  }

  .small-wide-margin-collapse > .small-10 {
    width: 83.33333%;
  }

  .small-wide-margin-collapse > .small-11 {
    width: 91.66667%;
  }

  .small-wide-margin-collapse > .small-12 {
    width: 100%;
  }

  .small-wide-margin-collapse > .small-wide-1 {
    width: 8.33333%;
  }

  .small-wide-margin-collapse > .small-wide-2 {
    width: 16.66667%;
  }

  .small-wide-margin-collapse > .small-wide-3 {
    width: 25%;
  }

  .small-wide-margin-collapse > .small-wide-4 {
    width: 33.33333%;
  }

  .small-wide-margin-collapse > .small-wide-5 {
    width: 41.66667%;
  }

  .small-wide-margin-collapse > .small-wide-6 {
    width: 50%;
  }

  .small-wide-margin-collapse > .small-wide-7 {
    width: 58.33333%;
  }

  .small-wide-margin-collapse > .small-wide-8 {
    width: 66.66667%;
  }

  .small-wide-margin-collapse > .small-wide-9 {
    width: 75%;
  }

  .small-wide-margin-collapse > .small-wide-10 {
    width: 83.33333%;
  }

  .small-wide-margin-collapse > .small-wide-11 {
    width: 91.66667%;
  }

  .small-wide-margin-collapse > .small-wide-12 {
    width: 100%;
  }

  .small-wide-padding-collapse {
    margin-right: 0;
    margin-left: 0;
  }

  .small-wide-padding-collapse > .cell {
    padding-right: 0;
    padding-left: 0;
  }

  .small-wide-offset-0 {
    margin-left: 0%;
  }

  .grid-margin-x > .small-wide-offset-0 {
    margin-left: calc(0% + 0.625rem);
  }

  .small-wide-offset-1 {
    margin-left: 8.33333%;
  }

  .grid-margin-x > .small-wide-offset-1 {
    margin-left: calc(8.33333% + 0.625rem);
  }

  .small-wide-offset-2 {
    margin-left: 16.66667%;
  }

  .grid-margin-x > .small-wide-offset-2 {
    margin-left: calc(16.66667% + 0.625rem);
  }

  .small-wide-offset-3 {
    margin-left: 25%;
  }

  .grid-margin-x > .small-wide-offset-3 {
    margin-left: calc(25% + 0.625rem);
  }

  .small-wide-offset-4 {
    margin-left: 33.33333%;
  }

  .grid-margin-x > .small-wide-offset-4 {
    margin-left: calc(33.33333% + 0.625rem);
  }

  .small-wide-offset-5 {
    margin-left: 41.66667%;
  }

  .grid-margin-x > .small-wide-offset-5 {
    margin-left: calc(41.66667% + 0.625rem);
  }

  .small-wide-offset-6 {
    margin-left: 50%;
  }

  .grid-margin-x > .small-wide-offset-6 {
    margin-left: calc(50% + 0.625rem);
  }

  .small-wide-offset-7 {
    margin-left: 58.33333%;
  }

  .grid-margin-x > .small-wide-offset-7 {
    margin-left: calc(58.33333% + 0.625rem);
  }

  .small-wide-offset-8 {
    margin-left: 66.66667%;
  }

  .grid-margin-x > .small-wide-offset-8 {
    margin-left: calc(66.66667% + 0.625rem);
  }

  .small-wide-offset-9 {
    margin-left: 75%;
  }

  .grid-margin-x > .small-wide-offset-9 {
    margin-left: calc(75% + 0.625rem);
  }

  .small-wide-offset-10 {
    margin-left: 83.33333%;
  }

  .grid-margin-x > .small-wide-offset-10 {
    margin-left: calc(83.33333% + 0.625rem);
  }

  .small-wide-offset-11 {
    margin-left: 91.66667%;
  }

  .grid-margin-x > .small-wide-offset-11 {
    margin-left: calc(91.66667% + 0.625rem);
  }

  .grid-y > .small-wide-shrink,.grid-y > .small-wide-full,.grid-y > .small-wide-1,.grid-y > .small-wide-2,.grid-y > .small-wide-3,.grid-y > .small-wide-4,.grid-y > .small-wide-5,.grid-y > .small-wide-6,.grid-y > .small-wide-7,.grid-y > .small-wide-8,.grid-y > .small-wide-9,.grid-y > .small-wide-10,.grid-y > .small-wide-11,.grid-y > .small-wide-12 {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }

  .grid-y > .small-wide-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    height: auto;
  }

  .grid-y > .small-wide-shrink,.grid-y > .small-wide-1,.grid-y > .small-wide-2,.grid-y > .small-wide-3,.grid-y > .small-wide-4,.grid-y > .small-wide-5,.grid-y > .small-wide-6,.grid-y > .small-wide-7,.grid-y > .small-wide-8,.grid-y > .small-wide-9,.grid-y > .small-wide-10,.grid-y > .small-wide-11,.grid-y > .small-wide-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .grid-y > .small-wide-shrink {
    height: auto;
  }

  .grid-y > .small-wide-1 {
    height: 8.33333%;
  }

  .grid-y > .small-wide-2 {
    height: 16.66667%;
  }

  .grid-y > .small-wide-3 {
    height: 25%;
  }

  .grid-y > .small-wide-4 {
    height: 33.33333%;
  }

  .grid-y > .small-wide-5 {
    height: 41.66667%;
  }

  .grid-y > .small-wide-6 {
    height: 50%;
  }

  .grid-y > .small-wide-7 {
    height: 58.33333%;
  }

  .grid-y > .small-wide-8 {
    height: 66.66667%;
  }

  .grid-y > .small-wide-9 {
    height: 75%;
  }

  .grid-y > .small-wide-10 {
    height: 83.33333%;
  }

  .grid-y > .small-wide-11 {
    height: 91.66667%;
  }

  .grid-y > .small-wide-12 {
    height: 100%;
  }

  .grid-margin-y > .small-wide-auto {
    height: auto;
  }

  .grid-margin-y > .small-wide-shrink {
    height: auto;
  }

  .grid-margin-y > .small-wide-1 {
    height: calc(8.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-2 {
    height: calc(16.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-3 {
    height: calc(25% - 1.25rem);
  }

  .grid-margin-y > .small-wide-4 {
    height: calc(33.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-5 {
    height: calc(41.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-6 {
    height: calc(50% - 1.25rem);
  }

  .grid-margin-y > .small-wide-7 {
    height: calc(58.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-8 {
    height: calc(66.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-9 {
    height: calc(75% - 1.25rem);
  }

  .grid-margin-y > .small-wide-10 {
    height: calc(83.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-11 {
    height: calc(91.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-12 {
    height: calc(100% - 1.25rem);
  }

  .small-wide-grid-frame {
    overflow: hidden;
    position: relative;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100vw;
  }

  .cell .small-wide-grid-frame {
    width: 100%;
  }

  .small-wide-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .small-wide-cell-block-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }

  .small-wide-cell-block-container > .grid-x {
    max-height: 100%;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .small-wide-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .grid-y.small-wide-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100vh;
  }

  .cell .grid-y.small-wide-grid-frame {
    height: 100%;
  }

  .grid-margin-y > .small-wide-auto {
    height: auto;
  }

  .grid-margin-y > .small-wide-shrink {
    height: auto;
  }

  .grid-margin-y > .small-wide-1 {
    height: calc(8.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-2 {
    height: calc(16.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-3 {
    height: calc(25% - 1.25rem);
  }

  .grid-margin-y > .small-wide-4 {
    height: calc(33.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-5 {
    height: calc(41.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-6 {
    height: calc(50% - 1.25rem);
  }

  .grid-margin-y > .small-wide-7 {
    height: calc(58.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-8 {
    height: calc(66.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-9 {
    height: calc(75% - 1.25rem);
  }

  .grid-margin-y > .small-wide-10 {
    height: calc(83.33333% - 1.25rem);
  }

  .grid-margin-y > .small-wide-11 {
    height: calc(91.66667% - 1.25rem);
  }

  .grid-margin-y > .small-wide-12 {
    height: calc(100% - 1.25rem);
  }

  .grid-frame.grid-margin-y {
    height: calc(100vh + 1.25rem);
  }

  .grid-margin-y.small-wide-grid-frame {
    height: calc(100vh + 1.25rem);
  }

  .menu.small-wide-horizontal {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu.small-wide-vertical {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu.small-wide-expanded li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
  }

  .menu.small-wide-simple li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
  }

  .dropdown.menu.small-wide-horizontal > li.opens-left > .is-dropdown-submenu {
    top: 100%;
    right: 0;
    left: auto;
  }

  .dropdown.menu.small-wide-horizontal > li.opens-right > .is-dropdown-submenu {
    top: 100%;
    right: auto;
    left: 0;
  }

  .dropdown.menu.small-wide-horizontal > li.is-dropdown-submenu-parent > a {
    position: relative;
    padding-right: 1.5rem;
  }

  .dropdown.menu.small-wide-horizontal > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #1779ba transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px;
  }

  .dropdown.menu.small-wide-vertical > li .is-dropdown-submenu {
    top: 0;
  }

  .dropdown.menu.small-wide-vertical > li.opens-left > .is-dropdown-submenu {
    top: 0;
    right: 100%;
    left: auto;
  }

  .dropdown.menu.small-wide-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%;
  }

  .dropdown.menu.small-wide-vertical > li > a::after {
    right: 14px;
  }

  .dropdown.menu.small-wide-vertical > li.opens-left > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #1779ba transparent transparent;
    right: auto;
    left: 5px;
  }

  .dropdown.menu.small-wide-vertical > li.opens-right > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #1779ba;
  }

  .position-left.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-left.reveal-for-small-wide .close-button {
    display: none;
  }

  .off-canvas-content .position-left.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-left {
    margin-left: 250px;
  }

  .position-left.reveal-for-small-wide ~ .off-canvas-content {
    margin-left: 250px;
  }

  .position-right.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-right.reveal-for-small-wide .close-button {
    display: none;
  }

  .off-canvas-content .position-right.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-right {
    margin-right: 250px;
  }

  .position-right.reveal-for-small-wide ~ .off-canvas-content {
    margin-right: 250px;
  }

  .position-top.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-top.reveal-for-small-wide .close-button {
    display: none;
  }

  .off-canvas-content .position-top.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-top {
    margin-top: 250px;
  }

  .position-top.reveal-for-small-wide ~ .off-canvas-content {
    margin-top: 250px;
  }

  .position-bottom.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-bottom.reveal-for-small-wide .close-button {
    display: none;
  }

  .off-canvas-content .position-bottom.reveal-for-small-wide {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-bottom {
    margin-bottom: 250px;
  }

  .position-bottom.reveal-for-small-wide ~ .off-canvas-content {
    margin-bottom: 250px;
  }

  .off-canvas.in-canvas-for-small-wide {
    visibility: visible;
    height: auto;
    position: static;
    background: none;
    width: auto;
    overflow: visible;
    -webkit-transition: none;
    transition: none;
  }

  .off-canvas.in-canvas-for-small-wide.position-left,.off-canvas.in-canvas-for-small-wide.position-right,.off-canvas.in-canvas-for-small-wide.position-top,.off-canvas.in-canvas-for-small-wide.position-bottom {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas.in-canvas-for-small-wide .close-button {
    display: none;
  }

  .small-wide-order-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  .small-wide-order-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .small-wide-order-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  .small-wide-order-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }

  .small-wide-order-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }

  .small-wide-order-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }

  .small-wide-flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .small-wide-flex-child-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .small-wide-flex-child-grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .small-wide-flex-child-shrink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .small-wide-flex-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .small-wide-flex-dir-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .small-wide-flex-dir-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .small-wide-flex-dir-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hide-for-small-wide {
    display: none !important;
  }

  body {
    background-color: orange;
    font-family: serif;
  }
  .show-for-medium-only {
    display: none !important;
  }
  .hide-for-medium-only {
    display: none !important;
  }
  .reveal,.reveal.tiny,.reveal.small,.reveal.large {
    right: auto;
    left: auto;
    margin: 0 auto;
  }

  h1,.h1 {
    font-size: 3rem;
  }

  h2,.h2 {
    font-size: 2.5rem;
  }

  h3,.h3 {
    font-size: 1.9375rem;
  }

  h4,.h4 {
    font-size: 1.5625rem;
  }

  h5,.h5 {
    font-size: 1.25rem;
  }

  h6,.h6 {
    font-size: 1rem;
  }

  .medium-text-left {
    text-align: left;
  }

  .medium-text-right {
    text-align: right;
  }

  .medium-text-center {
    text-align: center;
  }

  .medium-text-justify {
    text-align: justify;
  }

  .grid-container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .grid-container.fluid {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .grid-x > .medium-shrink,.grid-x > .medium-full,.grid-x > .medium-1,.grid-x > .medium-2,.grid-x > .medium-3,.grid-x > .medium-4,.grid-x > .medium-5,.grid-x > .medium-6,.grid-x > .medium-7,.grid-x > .medium-8,.grid-x > .medium-9,.grid-x > .medium-10,.grid-x > .medium-11,.grid-x > .medium-12 {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }

  .grid-x > .medium-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    width: auto;
  }

  .grid-x > .medium-shrink,.grid-x > .medium-1,.grid-x > .medium-2,.grid-x > .medium-3,.grid-x > .medium-4,.grid-x > .medium-5,.grid-x > .medium-6,.grid-x > .medium-7,.grid-x > .medium-8,.grid-x > .medium-9,.grid-x > .medium-10,.grid-x > .medium-11,.grid-x > .medium-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .grid-x > .medium-shrink {
    width: auto;
  }

  .grid-x > .medium-1 {
    width: 8.33333%;
  }

  .grid-x > .medium-2 {
    width: 16.66667%;
  }

  .grid-x > .medium-3 {
    width: 25%;
  }

  .grid-x > .medium-4 {
    width: 33.33333%;
  }

  .grid-x > .medium-5 {
    width: 41.66667%;
  }

  .grid-x > .medium-6 {
    width: 50%;
  }

  .grid-x > .medium-7 {
    width: 58.33333%;
  }

  .grid-x > .medium-8 {
    width: 66.66667%;
  }

  .grid-x > .medium-9 {
    width: 75%;
  }

  .grid-x > .medium-10 {
    width: 83.33333%;
  }

  .grid-x > .medium-11 {
    width: 91.66667%;
  }

  .grid-x > .medium-12 {
    width: 100%;
  }

  .grid-margin-x {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .grid-margin-x > .cell {
    width: calc(100% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }

  .grid-margin-x > .auto {
    width: auto;
  }

  .grid-margin-x > .shrink {
    width: auto;
  }

  .grid-margin-x > .small-1 {
    width: calc(8.33333% - 1.875rem);
  }

  .grid-margin-x > .small-2 {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x > .small-3 {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x > .small-4 {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x > .small-5 {
    width: calc(41.66667% - 1.875rem);
  }

  .grid-margin-x > .small-6 {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x > .small-7 {
    width: calc(58.33333% - 1.875rem);
  }

  .grid-margin-x > .small-8 {
    width: calc(66.66667% - 1.875rem);
  }

  .grid-margin-x > .small-9 {
    width: calc(75% - 1.875rem);
  }

  .grid-margin-x > .small-10 {
    width: calc(83.33333% - 1.875rem);
  }

  .grid-margin-x > .small-11 {
    width: calc(91.66667% - 1.875rem);
  }

  .grid-margin-x > .small-12 {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x > .small-wide-auto {
    width: auto;
  }

  .grid-margin-x > .small-wide-shrink {
    width: auto;
  }

  .grid-margin-x > .small-wide-1 {
    width: calc(8.33333% - 1.875rem);
  }

  .grid-margin-x > .small-wide-2 {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x > .small-wide-3 {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x > .small-wide-4 {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x > .small-wide-5 {
    width: calc(41.66667% - 1.875rem);
  }

  .grid-margin-x > .small-wide-6 {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x > .small-wide-7 {
    width: calc(58.33333% - 1.875rem);
  }

  .grid-margin-x > .small-wide-8 {
    width: calc(66.66667% - 1.875rem);
  }

  .grid-margin-x > .small-wide-9 {
    width: calc(75% - 1.875rem);
  }

  .grid-margin-x > .small-wide-10 {
    width: calc(83.33333% - 1.875rem);
  }

  .grid-margin-x > .small-wide-11 {
    width: calc(91.66667% - 1.875rem);
  }

  .grid-margin-x > .small-wide-12 {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x > .medium-auto {
    width: auto;
  }

  .grid-margin-x > .medium-shrink {
    width: auto;
  }

  .grid-margin-x > .medium-1 {
    width: calc(8.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-2 {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-3 {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x > .medium-4 {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-5 {
    width: calc(41.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-6 {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x > .medium-7 {
    width: calc(58.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-8 {
    width: calc(66.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-9 {
    width: calc(75% - 1.875rem);
  }

  .grid-margin-x > .medium-10 {
    width: calc(83.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-11 {
    width: calc(91.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-12 {
    width: calc(100% - 1.875rem);
  }

  .grid-padding-x .grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }

  .grid-container:not(.full) > .grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }

  .grid-padding-x > .cell {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .medium-up-1 > .cell {
    width: 100%;
  }

  .medium-up-2 > .cell {
    width: 50%;
  }

  .medium-up-3 > .cell {
    width: 33.33333%;
  }

  .medium-up-4 > .cell {
    width: 25%;
  }

  .medium-up-5 > .cell {
    width: 20%;
  }

  .medium-up-6 > .cell {
    width: 16.66667%;
  }

  .medium-up-7 > .cell {
    width: 14.28571%;
  }

  .medium-up-8 > .cell {
    width: 12.5%;
  }

  .grid-margin-x.small-up-1 > .cell {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x.small-up-2 > .cell {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x.small-up-3 > .cell {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x.small-up-4 > .cell {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x.small-up-5 > .cell {
    width: calc(20% - 1.875rem);
  }

  .grid-margin-x.small-up-6 > .cell {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x.small-up-7 > .cell {
    width: calc(14.28571% - 1.875rem);
  }

  .grid-margin-x.small-up-8 > .cell {
    width: calc(12.5% - 1.875rem);
  }

  .grid-margin-x.medium-up-1 > .cell {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x.medium-up-2 > .cell {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x.medium-up-3 > .cell {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x.medium-up-4 > .cell {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x.medium-up-5 > .cell {
    width: calc(20% - 1.875rem);
  }

  .grid-margin-x.medium-up-6 > .cell {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x.medium-up-7 > .cell {
    width: calc(14.28571% - 1.875rem);
  }

  .grid-margin-x.medium-up-8 > .cell {
    width: calc(12.5% - 1.875rem);
  }

  .small-margin-collapse > .medium-1 {
    width: 8.33333%;
  }

  .small-margin-collapse > .medium-2 {
    width: 16.66667%;
  }

  .small-margin-collapse > .medium-3 {
    width: 25%;
  }

  .small-margin-collapse > .medium-4 {
    width: 33.33333%;
  }

  .small-margin-collapse > .medium-5 {
    width: 41.66667%;
  }

  .small-margin-collapse > .medium-6 {
    width: 50%;
  }

  .small-margin-collapse > .medium-7 {
    width: 58.33333%;
  }

  .small-margin-collapse > .medium-8 {
    width: 66.66667%;
  }

  .small-margin-collapse > .medium-9 {
    width: 75%;
  }

  .small-margin-collapse > .medium-10 {
    width: 83.33333%;
  }

  .small-margin-collapse > .medium-11 {
    width: 91.66667%;
  }

  .small-margin-collapse > .medium-12 {
    width: 100%;
  }

  .small-wide-margin-collapse > .medium-1 {
    width: 8.33333%;
  }

  .small-wide-margin-collapse > .medium-2 {
    width: 16.66667%;
  }

  .small-wide-margin-collapse > .medium-3 {
    width: 25%;
  }

  .small-wide-margin-collapse > .medium-4 {
    width: 33.33333%;
  }

  .small-wide-margin-collapse > .medium-5 {
    width: 41.66667%;
  }

  .small-wide-margin-collapse > .medium-6 {
    width: 50%;
  }

  .small-wide-margin-collapse > .medium-7 {
    width: 58.33333%;
  }

  .small-wide-margin-collapse > .medium-8 {
    width: 66.66667%;
  }

  .small-wide-margin-collapse > .medium-9 {
    width: 75%;
  }

  .small-wide-margin-collapse > .medium-10 {
    width: 83.33333%;
  }

  .small-wide-margin-collapse > .medium-11 {
    width: 91.66667%;
  }

  .small-wide-margin-collapse > .medium-12 {
    width: 100%;
  }

  .medium-margin-collapse {
    margin-right: 0;
    margin-left: 0;
  }

  .medium-margin-collapse > .cell {
    margin-right: 0;
    margin-left: 0;
  }

  .medium-margin-collapse > .small-1 {
    width: 8.33333%;
  }

  .medium-margin-collapse > .small-2 {
    width: 16.66667%;
  }

  .medium-margin-collapse > .small-3 {
    width: 25%;
  }

  .medium-margin-collapse > .small-4 {
    width: 33.33333%;
  }

  .medium-margin-collapse > .small-5 {
    width: 41.66667%;
  }

  .medium-margin-collapse > .small-6 {
    width: 50%;
  }

  .medium-margin-collapse > .small-7 {
    width: 58.33333%;
  }

  .medium-margin-collapse > .small-8 {
    width: 66.66667%;
  }

  .medium-margin-collapse > .small-9 {
    width: 75%;
  }

  .medium-margin-collapse > .small-10 {
    width: 83.33333%;
  }

  .medium-margin-collapse > .small-11 {
    width: 91.66667%;
  }

  .medium-margin-collapse > .small-12 {
    width: 100%;
  }

  .medium-margin-collapse > .small-wide-1 {
    width: 8.33333%;
  }

  .medium-margin-collapse > .small-wide-2 {
    width: 16.66667%;
  }

  .medium-margin-collapse > .small-wide-3 {
    width: 25%;
  }

  .medium-margin-collapse > .small-wide-4 {
    width: 33.33333%;
  }

  .medium-margin-collapse > .small-wide-5 {
    width: 41.66667%;
  }

  .medium-margin-collapse > .small-wide-6 {
    width: 50%;
  }

  .medium-margin-collapse > .small-wide-7 {
    width: 58.33333%;
  }

  .medium-margin-collapse > .small-wide-8 {
    width: 66.66667%;
  }

  .medium-margin-collapse > .small-wide-9 {
    width: 75%;
  }

  .medium-margin-collapse > .small-wide-10 {
    width: 83.33333%;
  }

  .medium-margin-collapse > .small-wide-11 {
    width: 91.66667%;
  }

  .medium-margin-collapse > .small-wide-12 {
    width: 100%;
  }

  .medium-margin-collapse > .medium-1 {
    width: 8.33333%;
  }

  .medium-margin-collapse > .medium-2 {
    width: 16.66667%;
  }

  .medium-margin-collapse > .medium-3 {
    width: 25%;
  }

  .medium-margin-collapse > .medium-4 {
    width: 33.33333%;
  }

  .medium-margin-collapse > .medium-5 {
    width: 41.66667%;
  }

  .medium-margin-collapse > .medium-6 {
    width: 50%;
  }

  .medium-margin-collapse > .medium-7 {
    width: 58.33333%;
  }

  .medium-margin-collapse > .medium-8 {
    width: 66.66667%;
  }

  .medium-margin-collapse > .medium-9 {
    width: 75%;
  }

  .medium-margin-collapse > .medium-10 {
    width: 83.33333%;
  }

  .medium-margin-collapse > .medium-11 {
    width: 91.66667%;
  }

  .medium-margin-collapse > .medium-12 {
    width: 100%;
  }

  .medium-padding-collapse {
    margin-right: 0;
    margin-left: 0;
  }

  .medium-padding-collapse > .cell {
    padding-right: 0;
    padding-left: 0;
  }

  .medium-offset-0 {
    margin-left: 0%;
  }

  .grid-margin-x > .medium-offset-0 {
    margin-left: calc(0% + 0.9375rem);
  }

  .medium-offset-1 {
    margin-left: 8.33333%;
  }

  .grid-margin-x > .medium-offset-1 {
    margin-left: calc(8.33333% + 0.9375rem);
  }

  .medium-offset-2 {
    margin-left: 16.66667%;
  }

  .grid-margin-x > .medium-offset-2 {
    margin-left: calc(16.66667% + 0.9375rem);
  }

  .medium-offset-3 {
    margin-left: 25%;
  }

  .grid-margin-x > .medium-offset-3 {
    margin-left: calc(25% + 0.9375rem);
  }

  .medium-offset-4 {
    margin-left: 33.33333%;
  }

  .grid-margin-x > .medium-offset-4 {
    margin-left: calc(33.33333% + 0.9375rem);
  }

  .medium-offset-5 {
    margin-left: 41.66667%;
  }

  .grid-margin-x > .medium-offset-5 {
    margin-left: calc(41.66667% + 0.9375rem);
  }

  .medium-offset-6 {
    margin-left: 50%;
  }

  .grid-margin-x > .medium-offset-6 {
    margin-left: calc(50% + 0.9375rem);
  }

  .medium-offset-7 {
    margin-left: 58.33333%;
  }

  .grid-margin-x > .medium-offset-7 {
    margin-left: calc(58.33333% + 0.9375rem);
  }

  .medium-offset-8 {
    margin-left: 66.66667%;
  }

  .grid-margin-x > .medium-offset-8 {
    margin-left: calc(66.66667% + 0.9375rem);
  }

  .medium-offset-9 {
    margin-left: 75%;
  }

  .grid-margin-x > .medium-offset-9 {
    margin-left: calc(75% + 0.9375rem);
  }

  .medium-offset-10 {
    margin-left: 83.33333%;
  }

  .grid-margin-x > .medium-offset-10 {
    margin-left: calc(83.33333% + 0.9375rem);
  }

  .medium-offset-11 {
    margin-left: 91.66667%;
  }

  .grid-margin-x > .medium-offset-11 {
    margin-left: calc(91.66667% + 0.9375rem);
  }

  .grid-y > .medium-shrink,.grid-y > .medium-full,.grid-y > .medium-1,.grid-y > .medium-2,.grid-y > .medium-3,.grid-y > .medium-4,.grid-y > .medium-5,.grid-y > .medium-6,.grid-y > .medium-7,.grid-y > .medium-8,.grid-y > .medium-9,.grid-y > .medium-10,.grid-y > .medium-11,.grid-y > .medium-12 {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }

  .grid-y > .medium-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    height: auto;
  }

  .grid-y > .medium-shrink,.grid-y > .medium-1,.grid-y > .medium-2,.grid-y > .medium-3,.grid-y > .medium-4,.grid-y > .medium-5,.grid-y > .medium-6,.grid-y > .medium-7,.grid-y > .medium-8,.grid-y > .medium-9,.grid-y > .medium-10,.grid-y > .medium-11,.grid-y > .medium-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .grid-y > .medium-shrink {
    height: auto;
  }

  .grid-y > .medium-1 {
    height: 8.33333%;
  }

  .grid-y > .medium-2 {
    height: 16.66667%;
  }

  .grid-y > .medium-3 {
    height: 25%;
  }

  .grid-y > .medium-4 {
    height: 33.33333%;
  }

  .grid-y > .medium-5 {
    height: 41.66667%;
  }

  .grid-y > .medium-6 {
    height: 50%;
  }

  .grid-y > .medium-7 {
    height: 58.33333%;
  }

  .grid-y > .medium-8 {
    height: 66.66667%;
  }

  .grid-y > .medium-9 {
    height: 75%;
  }

  .grid-y > .medium-10 {
    height: 83.33333%;
  }

  .grid-y > .medium-11 {
    height: 91.66667%;
  }

  .grid-y > .medium-12 {
    height: 100%;
  }

  .grid-padding-y .grid-padding-y {
    margin-top: -0.9375rem;
    margin-bottom: -0.9375rem;
  }

  .grid-padding-y > .cell {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }

  .grid-margin-y {
    margin-top: -0.9375rem;
    margin-bottom: -0.9375rem;
  }

  .grid-margin-y > .cell {
    height: calc(100% - 1.875rem);
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
  }

  .grid-margin-y > .auto {
    height: auto;
  }

  .grid-margin-y > .shrink {
    height: auto;
  }

  .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.875rem);
  }

  .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.875rem);
  }

  .grid-margin-y > .small-3 {
    height: calc(25% - 1.875rem);
  }

  .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.875rem);
  }

  .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.875rem);
  }

  .grid-margin-y > .small-6 {
    height: calc(50% - 1.875rem);
  }

  .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.875rem);
  }

  .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.875rem);
  }

  .grid-margin-y > .small-9 {
    height: calc(75% - 1.875rem);
  }

  .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.875rem);
  }

  .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.875rem);
  }

  .grid-margin-y > .small-12 {
    height: calc(100% - 1.875rem);
  }

  .grid-margin-y > .small-wide-auto {
    height: auto;
  }

  .grid-margin-y > .small-wide-shrink {
    height: auto;
  }

  .grid-margin-y > .small-wide-1 {
    height: calc(8.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-2 {
    height: calc(16.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-3 {
    height: calc(25% - 1.875rem);
  }

  .grid-margin-y > .small-wide-4 {
    height: calc(33.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-5 {
    height: calc(41.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-6 {
    height: calc(50% - 1.875rem);
  }

  .grid-margin-y > .small-wide-7 {
    height: calc(58.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-8 {
    height: calc(66.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-9 {
    height: calc(75% - 1.875rem);
  }

  .grid-margin-y > .small-wide-10 {
    height: calc(83.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-11 {
    height: calc(91.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-12 {
    height: calc(100% - 1.875rem);
  }

  .grid-margin-y > .medium-auto {
    height: auto;
  }

  .grid-margin-y > .medium-shrink {
    height: auto;
  }

  .grid-margin-y > .medium-1 {
    height: calc(8.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-2 {
    height: calc(16.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-3 {
    height: calc(25% - 1.875rem);
  }

  .grid-margin-y > .medium-4 {
    height: calc(33.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-5 {
    height: calc(41.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-6 {
    height: calc(50% - 1.875rem);
  }

  .grid-margin-y > .medium-7 {
    height: calc(58.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-8 {
    height: calc(66.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-9 {
    height: calc(75% - 1.875rem);
  }

  .grid-margin-y > .medium-10 {
    height: calc(83.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-11 {
    height: calc(91.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-12 {
    height: calc(100% - 1.875rem);
  }

  .medium-grid-frame {
    overflow: hidden;
    position: relative;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100vw;
  }

  .cell .medium-grid-frame {
    width: 100%;
  }

  .medium-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .medium-cell-block-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }

  .medium-cell-block-container > .grid-x {
    max-height: 100%;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .medium-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .grid-y.medium-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100vh;
  }

  .cell .grid-y.medium-grid-frame {
    height: 100%;
  }

  .grid-margin-y {
    margin-top: -0.9375rem;
    margin-bottom: -0.9375rem;
  }

  .grid-margin-y > .cell {
    height: calc(100% - 1.875rem);
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
  }

  .grid-margin-y > .auto {
    height: auto;
  }

  .grid-margin-y > .shrink {
    height: auto;
  }

  .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.875rem);
  }

  .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.875rem);
  }

  .grid-margin-y > .small-3 {
    height: calc(25% - 1.875rem);
  }

  .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.875rem);
  }

  .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.875rem);
  }

  .grid-margin-y > .small-6 {
    height: calc(50% - 1.875rem);
  }

  .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.875rem);
  }

  .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.875rem);
  }

  .grid-margin-y > .small-9 {
    height: calc(75% - 1.875rem);
  }

  .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.875rem);
  }

  .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.875rem);
  }

  .grid-margin-y > .small-12 {
    height: calc(100% - 1.875rem);
  }

  .grid-margin-y > .small-wide-auto {
    height: auto;
  }

  .grid-margin-y > .small-wide-shrink {
    height: auto;
  }

  .grid-margin-y > .small-wide-1 {
    height: calc(8.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-2 {
    height: calc(16.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-3 {
    height: calc(25% - 1.875rem);
  }

  .grid-margin-y > .small-wide-4 {
    height: calc(33.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-5 {
    height: calc(41.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-6 {
    height: calc(50% - 1.875rem);
  }

  .grid-margin-y > .small-wide-7 {
    height: calc(58.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-8 {
    height: calc(66.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-9 {
    height: calc(75% - 1.875rem);
  }

  .grid-margin-y > .small-wide-10 {
    height: calc(83.33333% - 1.875rem);
  }

  .grid-margin-y > .small-wide-11 {
    height: calc(91.66667% - 1.875rem);
  }

  .grid-margin-y > .small-wide-12 {
    height: calc(100% - 1.875rem);
  }

  .grid-margin-y > .medium-auto {
    height: auto;
  }

  .grid-margin-y > .medium-shrink {
    height: auto;
  }

  .grid-margin-y > .medium-1 {
    height: calc(8.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-2 {
    height: calc(16.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-3 {
    height: calc(25% - 1.875rem);
  }

  .grid-margin-y > .medium-4 {
    height: calc(33.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-5 {
    height: calc(41.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-6 {
    height: calc(50% - 1.875rem);
  }

  .grid-margin-y > .medium-7 {
    height: calc(58.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-8 {
    height: calc(66.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-9 {
    height: calc(75% - 1.875rem);
  }

  .grid-margin-y > .medium-10 {
    height: calc(83.33333% - 1.875rem);
  }

  .grid-margin-y > .medium-11 {
    height: calc(91.66667% - 1.875rem);
  }

  .grid-margin-y > .medium-12 {
    height: calc(100% - 1.875rem);
  }

  .grid-frame.grid-margin-y {
    height: calc(100vh + 1.875rem);
  }

  .grid-margin-y.medium-grid-frame {
    height: calc(100vh + 1.875rem);
  }

  .button-group.stacked-for-small .button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 0;
  }

  .pagination li {
    display: inline-block;
  }

  .menu.medium-horizontal {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu.medium-vertical {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu.medium-expanded li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
  }

  .menu.medium-simple li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
  }

  .dropdown.menu.medium-horizontal > li.opens-left > .is-dropdown-submenu {
    top: 100%;
    right: 0;
    left: auto;
  }

  .dropdown.menu.medium-horizontal > li.opens-right > .is-dropdown-submenu {
    top: 100%;
    right: auto;
    left: 0;
  }

  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
    position: relative;
    padding-right: 1.5rem;
  }

  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #1779ba transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px;
  }

  .dropdown.menu.medium-vertical > li .is-dropdown-submenu {
    top: 0;
  }

  .dropdown.menu.medium-vertical > li.opens-left > .is-dropdown-submenu {
    top: 0;
    right: 100%;
    left: auto;
  }

  .dropdown.menu.medium-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%;
  }

  .dropdown.menu.medium-vertical > li > a::after {
    right: 14px;
  }

  .dropdown.menu.medium-vertical > li.opens-left > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #1779ba transparent transparent;
    right: auto;
    left: 5px;
  }

  .dropdown.menu.medium-vertical > li.opens-right > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #1779ba;
  }

  .position-left.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-left.reveal-for-medium .close-button {
    display: none;
  }

  .off-canvas-content .position-left.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-left {
    margin-left: 250px;
  }

  .position-left.reveal-for-medium ~ .off-canvas-content {
    margin-left: 250px;
  }

  .position-right.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-right.reveal-for-medium .close-button {
    display: none;
  }

  .off-canvas-content .position-right.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-right {
    margin-right: 250px;
  }

  .position-right.reveal-for-medium ~ .off-canvas-content {
    margin-right: 250px;
  }

  .position-top.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-top.reveal-for-medium .close-button {
    display: none;
  }

  .off-canvas-content .position-top.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-top {
    margin-top: 250px;
  }

  .position-top.reveal-for-medium ~ .off-canvas-content {
    margin-top: 250px;
  }

  .position-bottom.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 12;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .position-bottom.reveal-for-medium .close-button {
    display: none;
  }

  .off-canvas-content .position-bottom.reveal-for-medium {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas-content.has-reveal-bottom {
    margin-bottom: 250px;
  }

  .position-bottom.reveal-for-medium ~ .off-canvas-content {
    margin-bottom: 250px;
  }

  .off-canvas.in-canvas-for-medium {
    visibility: visible;
    height: auto;
    position: static;
    background: none;
    width: auto;
    overflow: visible;
    -webkit-transition: none;
    transition: none;
  }

  .off-canvas.in-canvas-for-medium.position-left,.off-canvas.in-canvas-for-medium.position-right,.off-canvas.in-canvas-for-medium.position-top,.off-canvas.in-canvas-for-medium.position-bottom {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .off-canvas.in-canvas-for-medium .close-button {
    display: none;
  }

  .reveal {
    min-height: 0;
  }

  .reveal {
    width: 600px;
    max-width: 75rem;
  }

  .reveal.tiny {
    width: 30%;
    max-width: 75rem;
  }

  .reveal.small {
    width: 50%;
    max-width: 75rem;
  }

  .reveal.large {
    width: 90%;
    max-width: 75rem;
  }

  .top-bar {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .top-bar .top-bar-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-right: auto;
  }

  .top-bar .top-bar-right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
  }

  .medium-order-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  .medium-order-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .medium-order-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  .medium-order-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }

  .medium-order-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }

  .medium-order-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }

  .medium-flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .medium-flex-child-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .medium-flex-child-grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .medium-flex-child-shrink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .medium-flex-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .medium-flex-dir-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .medium-flex-dir-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .medium-flex-dir-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hide-for-medium {
    display: none !important;
  }

  body {
    background-color: yellow;
  }

  .screens-small {
    display: none;
  }

  .screens-medium {
    background-color: aquamarine;
    display: block;
  }

  .screens-large {
    display: none;
  }
  .show-for-medium-tall-only {
    display: none !important;
  }
  .hide-for-medium-tall-only {
    display: none !important;
  }
  .show-for-large-only {
    display: none !important;
  }
  .top-bar.stacked-for-medium-tall {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .top-bar.stacked-for-medium-tall .top-bar-left,.top-bar.stacked-for-medium-tall .top-bar-right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .show-for-large {
    display: none !important;
  }
  .button-group.stacked-for-medium.expanded {
    display: block;
  }

  .button-group.stacked-for-medium.expanded .button {
    display: block;
    margin-right: 0;
  }

  table.stack thead {
    display: none;
  }

  table.stack tfoot {
    display: none;
  }

  table.stack tr,table.stack th,table.stack td {
    display: block;
  }

  table.stack td {
    border-top: 0;
  }

  .top-bar.stacked-for-medium {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .top-bar.stacked-for-medium .top-bar-left,.top-bar.stacked-for-medium .top-bar-right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .show-for-medium-tall {
    display: none !important;
  }
  .top-bar.stacked-for-small-wide {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .top-bar.stacked-for-small-wide .top-bar-left,.top-bar.stacked-for-small-wide .top-bar-right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .show-for-medium {
    display: none !important;
  }
  .button-group.stacked-for-small.expanded {
    display: block;
  }

  .button-group.stacked-for-small.expanded .button {
    display: block;
    margin-right: 0;
  }

  .media-object.stack-for-small {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .stack-for-small .media-object-section {
    padding: 0;
    padding-bottom: 1rem;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }

  .stack-for-small .media-object-section img {
    width: 100%;
  }

  .reveal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    min-height: 100%;
    margin-left: 0;
    border: 0;
    border-radius: 0;
  }

  .hide-for-small-only {
    display: none !important;
  }

  .show-for-small-wide {
    display: none !important;
  }
}